In [1]:
from numpy import nan
import numpy as np
import pandas as pd
from ast import literal_eval

In [3]:
whole_batch = pd.read_csv('../output/oemc_output_data2.csv')
whole_batch.head()

,Unnamed: 0,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,clean_street_name
0,0,2000100015,01/01/2020 00.00.52,DISTME,MENTAL HEALTH DISTURBANCE,19B,76XX S HALSTED ST,621R,NaN,7600,SOUTH,HALSTED,ST,60620.0,41.755904,-87.643854,HALSTED
1,1,2000100451,01/01/2020 00.21.18,DIST,DISTURBANCE,4PZ,103XX S SPAULDING AV,2211R 2213R,NaN,10300,SOUTH,SPAULDING,AV,60655.0,41.704913,-87.704104,SPAULDING
2,2,2000100656,01/01/2020 00.33.55,DOMBAT,DOMESTIC BATTERY,5079Z,40XX W SCHOOL ST,X1720 1772R 1722R 1731R 1762B 1733R 1761 1762,NaN,4000,WEST,SCHOOL,ST,60641.0,41.940710,-87.729486,SCHOOL
3,3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,N SPAULDING
4,4,2000100902,01/01/2020 00.47.02,CHECWB,CHECK WELL BEING,550,65XX W IRVING PARK RD,1631R,NaN,6500,WEST,IRVING PARK,RD,60634.0,41.953793,-87.790068,IRVING PARK

In [4]:
whole_batch  = whole_batch.drop(columns=['Unnamed: 0'])
whole_batch.head()

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,clean_street_name
0,2000100015,01/01/2020 00.00.52,DISTME,MENTAL HEALTH DISTURBANCE,19B,76XX S HALSTED ST,621R,NaN,7600,SOUTH,HALSTED,ST,60620.0,41.755904,-87.643854,HALSTED
1,2000100451,01/01/2020 00.21.18,DIST,DISTURBANCE,4PZ,103XX S SPAULDING AV,2211R 2213R,NaN,10300,SOUTH,SPAULDING,AV,60655.0,41.704913,-87.704104,SPAULDING
2,2000100656,01/01/2020 00.33.55,DOMBAT,DOMESTIC BATTERY,5079Z,40XX W SCHOOL ST,X1720 1772R 1722R 1731R 1762B 1733R 1761 1762,NaN,4000,WEST,SCHOOL,ST,60641.0,41.940710,-87.729486,SCHOOL
3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,N SPAULDING
4,2000100902,01/01/2020 00.47.02,CHECWB,CHECK WELL BEING,550,65XX W IRVING PARK RD,1631R,NaN,6500,WEST,IRVING PARK,RD,60634.0,41.953793,-87.790068,IRVING PARK

In [5]:
whole_batch.dtypes

EventNumber            int64
EntryDate             object
EventType             object
TypeDescription       object
FinalDisposition      object
Location              object
CPDUnitList           object
CFDUnitList           object
numerical              int64
directional           object
street_name           object
suffix                object
zipcodes             float64
lats                 float64
longs                float64
clean_street_name     object
dtype: object

In [6]:
whole_batch.shape

(171247, 16)

In [7]:
whole_batch[whole_batch['zipcodes'].isnull()].shape

(13738, 16)

In [8]:
28498/171247

0.16641459412427662

In [9]:
#ratio of how many missed zipcodes
13738/171247

0.08022330318195356

In [8]:
whole_batch['zipcodes'].value_counts()

60619.0    8494
60620.0    6663
60649.0    6248
60617.0    6154
60628.0    6016
60626.0    4699
60644.0    4610
60640.0    4245
60629.0    4197
60636.0    4079
60651.0    3947
60624.0    3929
60623.0    3509
60621.0    3471
60637.0    3434
60609.0    3208
60608.0    3038
60639.0    2784
60643.0    2783
60647.0    2770
60612.0    2767
60625.0    2664
60618.0    2655
60653.0    2622
60641.0    2398
60615.0    2366
60610.0    2340
60657.0    2292
60660.0    2269
60632.0    2177
60616.0    1948
60614.0    1919
60607.0    1913
60611.0    1893
60634.0    1837
60622.0    1805
60613.0    1707
60659.0    1664
60605.0    1607
60645.0    1534
60630.0    1467
60638.0    1336
60652.0    1319
60601.0    1086
60654.0     806
60642.0     678
60656.0     564
60707.0     555
60827.0     531
60655.0     507
60631.0     505
60661.0     480
60602.0     475
60646.0     472
60604.0     366
60633.0     348
60606.0     316
60603.0     283
Name: zipcodes, dtype: int64

1) mental health disturbances, 

(2) threatening suicide, 

(3) domestic disturbance, 

(4) disturbance, 

(5) attempt suicide?

In [87]:
whole_batch['TypeDescription'].value_counts()[0:20]

MENTAL HEALTH DISTURBANCE    57309
CHECK WELL BEING             21444
THREATENING SUICIDE          14913
DOMESTIC DISTURBANCE         12143
DISTURBANCE                  10463
EMS                           6209
ASSAULT IP                    3922
PERSON WITH A KNIFE           3100
ATTEMPT SUICIDE               2779
DOMESTIC BATTERY              2744
DISTURBANCE - MUSIC/NOISE     2399
CRIMINAL TRESPASS IP          2314
SUSPICIOUS PERSON             2283
BATTERY IP                    2188
MISSING PERSON                2033
NO POLICE SERVICE             2012
PERSON WITH A GUN             1883
SEX OFFENSE OTHER             1192
ASSAULT JO                    1057
BATTERY JO                    1021
Name: TypeDescription, dtype: int64

In [9]:
mental_disturbance = whole_batch[whole_batch['TypeDescription'] == 'MENTAL HEALTH DISTURBANCE']
mental_disturbance.head()

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
0,2000100015,01/01/2020 00.00.52,DISTME,MENTAL HEALTH DISTURBANCE,19B,76XX S HALSTED ST,621R,NaN,7600,S,HALSTED,ST,60620.0,41.755904,-87.643854,SOUTH
3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
8,2000100999,01/01/2020 00.52.12,DISTME,MENTAL HEALTH DISTURBANCE,5079Z,50XX S MICHIGAN AV,224R,NaN,5000,S,MICHIGAN,AV,60615.0,41.802480,-87.622291,SOUTH
12,2000101523,01/01/2020 01.20.34,DISTME,MENTAL HEALTH DISTURBANCE,7I,51XX N MILWAUKEE AV,1623R,NaN,5100,N,MILWAUKEE,AV,60630.0,41.973731,-87.765940,NORTH
15,2000101661,01/01/2020 01.28.59,DISTME,MENTAL HEALTH DISTURBANCE,19P,77XX S SAWYER AV,851R 852R,NaN,7700,S,SAWYER,AV,60652.0,41.753027,-87.703975,SOUTH

In [27]:
mental_disturbance['zipcodes'].value_counts()

60620.0    2420
60628.0    2280
60649.0    2170
60617.0    2147
60619.0    2121
60644.0    2002
60624.0    1705
60640.0    1702
60651.0    1692
60636.0    1678
60626.0    1603
60637.0    1358
60623.0    1344
60629.0    1342
60612.0    1294
60621.0    1290
60609.0    1171
60639.0    1138
60608.0    1129
60647.0    1115
60643.0    1076
60618.0    1025
60610.0    1002
60625.0     963
60615.0     953
60641.0     936
60653.0     887
60657.0     874
60607.0     819
60614.0     783
60611.0     749
60622.0     748
60660.0     726
60632.0     721
60634.0     683
60616.0     680
60659.0     640
60613.0     634
60645.0     588
60652.0     544
60630.0     511
60605.0     491
60638.0     485
60601.0     404
60654.0     337
60642.0     323
60707.0     242
60602.0     224
60827.0     210
60661.0     209
60655.0     187
60646.0     178
60631.0     162
60656.0     157
60604.0     127
60606.0     123
60603.0     120
60633.0      90
Name: zipcodes, dtype: int64

In [29]:
threatening = whole_batch[whole_batch['TypeDescription'] == 'THREATENING SUICIDE']
threatening['zipcodes'].value_counts()

60640.0    492
60620.0    476
60619.0    461
60649.0    435
60626.0    433
60628.0    410
60623.0    395
60624.0    394
60608.0    371
60629.0    361
60644.0    360
60609.0    357
60617.0    356
60641.0    355
60651.0    337
60639.0    337
60647.0    333
60618.0    327
60607.0    318
60611.0    301
60636.0    299
60637.0    298
60657.0    285
60612.0    278
60622.0    276
60632.0    275
60621.0    275
60625.0    262
60616.0    253
60610.0    248
60613.0    229
60660.0    225
60614.0    208
60634.0    203
60630.0    188
60615.0    186
60653.0    173
60643.0    169
60605.0    164
60638.0    162
60659.0    159
60645.0    142
60601.0    121
60652.0    119
60642.0    101
60654.0     98
60661.0     76
60631.0     75
60656.0     74
60646.0     56
60633.0     50
60827.0     49
60655.0     48
60604.0     47
60707.0     46
60602.0     45
60606.0     35
60603.0     22
Name: zipcodes, dtype: int64

In [30]:
domestic_disturbance = whole_batch[whole_batch['TypeDescription'] == 'DOMESTIC DISTURBANCE']
domestic_disturbance['zipcodes'].value_counts()

60620.0    825
60619.0    819
60617.0    746
60649.0    713
60628.0    681
60651.0    488
60629.0    486
60644.0    446
60636.0    425
60624.0    392
60637.0    362
60623.0    346
60643.0    320
60647.0    319
60621.0    310
60609.0    307
60653.0    274
60639.0    235
60626.0    210
60632.0    201
60608.0    192
60612.0    183
60641.0    177
60618.0    166
60634.0    159
60615.0    154
60625.0    134
60652.0    128
60659.0    126
60640.0    126
60638.0    122
60630.0    111
60645.0    107
60616.0     88
60827.0     86
60622.0     74
60660.0     70
60657.0     58
60610.0     53
60613.0     52
60707.0     50
60655.0     47
60656.0     45
60614.0     41
60631.0     31
60607.0     28
60633.0     25
60642.0     23
60611.0     22
60605.0     21
60646.0     20
60654.0     14
60601.0     12
60661.0      7
60606.0      5
60602.0      2
60603.0      2
60604.0      1
Name: zipcodes, dtype: int64

In [32]:
disturbance = whole_batch[whole_batch['TypeDescription'] == 'DISTURBANCE']
disturbance['zipcodes'].value_counts()

60619.0    482
60649.0    427
60626.0    390
60617.0    388
60640.0    353
60628.0    346
60620.0    346
60657.0    262
60636.0    249
60629.0    247
60608.0    232
60611.0    227
60610.0    224
60614.0    221
60653.0    221
60621.0    214
60615.0    210
60625.0    202
60643.0    197
60647.0    195
60618.0    194
60601.0    192
60612.0    180
60607.0    174
60644.0    171
60605.0    167
60651.0    166
60609.0    165
60624.0    162
60637.0    162
60616.0    158
60613.0    158
60659.0    142
60654.0    140
60660.0    129
60639.0    128
60630.0    125
60632.0    121
60622.0    118
60623.0    111
60641.0    108
60602.0     98
60604.0     79
60645.0     70
60642.0     68
60634.0     64
60603.0     60
60661.0     59
60606.0     54
60638.0     52
60652.0     48
60656.0     40
60646.0     26
60631.0     24
60655.0     21
60707.0     17
60827.0     16
60633.0     16
Name: zipcodes, dtype: int64

In [33]:
attempt_suicide = whole_batch[whole_batch['TypeDescription'] == 'ATTEMPT SUICIDE']
attempt_suicide['zipcodes'].value_counts()

60619.0    107
60644.0     93
60629.0     89
60620.0     89
60623.0     85
60624.0     83
60647.0     80
60618.0     75
60649.0     74
60641.0     69
60609.0     69
60628.0     67
60640.0     67
60625.0     67
60637.0     67
60632.0     66
60617.0     65
60639.0     64
60651.0     61
60626.0     60
60636.0     59
60621.0     59
60608.0     56
60643.0     54
60622.0     48
60634.0     47
60613.0     46
60660.0     44
60611.0     44
60638.0     43
60614.0     42
60607.0     42
60610.0     40
60657.0     39
60630.0     37
60615.0     36
60659.0     35
60616.0     34
60645.0     34
60612.0     34
60653.0     29
60652.0     22
60605.0     21
60642.0     21
60646.0     17
60656.0     16
60655.0     14
60601.0     14
60707.0     14
60633.0     12
60827.0     12
60654.0     11
60631.0     10
60604.0      6
60661.0      5
60602.0      4
60606.0      3
60603.0      1
Name: zipcodes, dtype: int64

In [ ]:
#https://stackoverflow.com/questions/23111990/pandas-dataframe-stored-list-as-string-how-to-convert-back-to-list