In [1]:
from numpy import nan
import numpy as np
import pandas as pd
from ast import literal_eval

In [2]:
whole_batch = pd.read_csv('oemc_output_data.csv')
whole_batch.head()

,Unnamed: 0,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
0,0,2000100015,01/01/2020 00.00.52,DISTME,MENTAL HEALTH DISTURBANCE,19B,76XX S HALSTED ST,621R,NaN,7600,S,HALSTED,ST,60620.0,41.755904,-87.643854,SOUTH
1,1,2000100451,01/01/2020 00.21.18,DIST,DISTURBANCE,4PZ,103XX S SPAULDING AV,2211R 2213R,NaN,10300,S,SPAULDING,AV,60655.0,41.704913,-87.704104,SOUTH
2,2,2000100656,01/01/2020 00.33.55,DOMBAT,DOMESTIC BATTERY,5079Z,40XX W SCHOOL ST,X1720 1772R 1722R 1731R 1762B 1733R 1761 1762,NaN,4000,W,SCHOOL,ST,60641.0,41.940710,-87.729486,WEST
3,3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
4,4,2000100902,01/01/2020 00.47.02,CHECWB,CHECK WELL BEING,550,65XX W IRVING PARK RD,1631R,NaN,6500,W,IRVING PARK,RD,60634.0,41.953793,-87.790068,WEST

In [3]:
whole_batch  = whole_batch.drop(columns=['Unnamed: 0'])
whole_batch.head()

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
0,2000100015,01/01/2020 00.00.52,DISTME,MENTAL HEALTH DISTURBANCE,19B,76XX S HALSTED ST,621R,NaN,7600,S,HALSTED,ST,60620.0,41.755904,-87.643854,SOUTH
1,2000100451,01/01/2020 00.21.18,DIST,DISTURBANCE,4PZ,103XX S SPAULDING AV,2211R 2213R,NaN,10300,S,SPAULDING,AV,60655.0,41.704913,-87.704104,SOUTH
2,2000100656,01/01/2020 00.33.55,DOMBAT,DOMESTIC BATTERY,5079Z,40XX W SCHOOL ST,X1720 1772R 1722R 1731R 1762B 1733R 1761 1762,NaN,4000,W,SCHOOL,ST,60641.0,41.940710,-87.729486,WEST
3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
4,2000100902,01/01/2020 00.47.02,CHECWB,CHECK WELL BEING,550,65XX W IRVING PARK RD,1631R,NaN,6500,W,IRVING PARK,RD,60634.0,41.953793,-87.790068,WEST

In [4]:
whole_batch.dtypes

EventNumber           int64
EntryDate            object
EventType            object
TypeDescription      object
FinalDisposition     object
Location             object
CPDUnitList          object
CFDUnitList          object
numerical             int64
directional          object
street_name          object
suffix               object
zipcodes            float64
lats                float64
longs               float64
St_PreDir            object
dtype: object

In [5]:
whole_batch.shape

(171247, 16)

In [11]:
whole_batch[whole_batch['zipcodes'].isnull()].shape

(28498, 16)

In [12]:
28498/171247

0.16641459412427662

In [ ]:
df[df["A"].str.contains("Hello|Britain")]

In [ ]:
DR MARTIN LUTHER KING JR

In [6]:
address_points = pd.read_csv('cook_locations.csv')
address_points.head()

/tmp/ipykernel_14812/3716568878.py:1: DtypeWarning: Columns (1,5,7,11,17,25,26,27,30,31,32,36,38,40,46,47,48,52,54) have mixed types. Specify dtype option on import or set low_memory=False.
  address_points = pd.read_csv('cook_locations.csv')

,OBJECTID,AddNum_Pre,Add_Number,AddNum_Suf,ADDRNOCOM,St_PreMod,St_PreDir,St_PreTyp,St_Name,St_PosTyp,...,Seat,Inc_Muni,Uninc_Comm,MSAGComm,DiscrpAgID,Site_NGUID,ESN,TWP_NAME,LSt_PreDir,LSt_Type
0,1,NaN,1763.0,NaN,1763,NaN,WEST,NaN,WELLINGTON,AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1622.0,NaN,1622,NaN,WEST,NaN,CULLERTON,STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,917.0,NaN,917,NaN,WEST,NaN,ARMITAGE,AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,20018.0,NaN,20018,NaN,NaN,NaN,MOHAWK,TRAIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,20024.0,NaN,20024,NaN,NaN,NaN,MOHAWK,TRAIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
address_points.dtypes

OBJECTID              int64
AddNum_Pre           object
Add_Number          float64
AddNum_Suf           object
ADDRNOCOM            object
St_PreMod            object
St_PreDir            object
St_PreTyp            object
St_Name              object
St_PosTyp            object
St_PosDir            object
St_PosMod            object
STNAMECOM            object
LandmkName           object
PLACENAME            object
Post_Comm            object
State                object
Post_Code            object
Post_Code4          float64
ADDRDELIV            object
CMPADDABRV           object
Long                float64
Lat                 float64
USGRIDCORD           object
Elev                float64
PIN                  object
Effective            object
Expire               object
EDITTIME             object
geocode_muni         object
Document_Name        object
created_user         object
created_date         object
last_edited_user     object
last_edited_date     object
Source               object
Source_Comment       object
Structure            object
OrthoYear            object
Placement            object
County               object
Building            float64
Floor               float64
Unit                float64
Room                float64
Seat                float64
Inc_Muni             object
Uninc_Comm           object
MSAGComm             object
DiscrpAgID          float64
Site_NGUID          float64
ESN                 float64
TWP_NAME             object
LSt_PreDir          float64
LSt_Type             object
dtype: object

In [8]:
address_points[address_points['St_Name'].str.contains('MARTIN',na=False)]['CMPADDABRV']

1506                                1716 MARTIN LN
1530                                1722 MARTIN LN
1930        4806 S DOCTOR MARTIN LUTHER KING JR DR
2737        9308 S DOCTOR MARTIN LUTHER KING JR DR
4158       10516 S DOCTOR MARTIN LUTHER KING JR DR
                            ...
1326982     7024 S DOCTOR MARTIN LUTHER KING JR DR
1329310    10327 S DOCTOR MARTIN LUTHER KING JR DR
1329314     4118 S DOCTOR MARTIN LUTHER KING JR DR
1329374     8137 S DOCTOR MARTIN LUTHER KING JR DR
1330790     7740 S DOCTOR MARTIN LUTHER KING JR DR
Name: CMPADDABRV, Length: 2736, dtype: object

In [9]:
address_points[address_points['St_Name'].str.contains('MARTIN',na=False)]

,OBJECTID,AddNum_Pre,Add_Number,AddNum_Suf,ADDRNOCOM,St_PreMod,St_PreDir,St_PreTyp,St_Name,St_PosTyp,...,Seat,Inc_Muni,Uninc_Comm,MSAGComm,DiscrpAgID,Site_NGUID,ESN,TWP_NAME,LSt_PreDir,LSt_Type
1506,1507,NaN,1716.0,NaN,1716,NaN,NaN,NaN,MARTIN,LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1530,1531,NaN,1722.0,NaN,1722,NaN,NaN,NaN,MARTIN,LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1930,1931,NaN,4806.0,NaN,4806,NaN,SOUTH,NaN,DOCTOR MARTIN LUTHER KING JR,DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2737,2740,NaN,9308.0,NaN,9308,NaN,SOUTH,NaN,DOCTOR MARTIN LUTHER KING JR,DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4158,4161,NaN,10516.0,NaN,10516,NaN,SOUTH,NaN,DOCTOR MARTIN LUTHER KING JR,DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326982,1328565,NaN,7024.0,NaN,7024,NaN,SOUTH,NaN,DOCTOR MARTIN LUTHER KING JR,DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1329310,1330893,NaN,10327.0,NaN,10327,NaN,SOUTH,NaN,DOCTOR MARTIN LUTHER KING JR,DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1329314,1330897,NaN,4118.0,NaN,4118,NaN,SOUTH,NaN,DOCTOR MARTIN LUTHER KING JR,DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1329374,1330957,NaN,8137.0,NaN,8137,NaN,SOUTH,NaN,DOCTOR MARTIN LUTHER KING JR,DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1330790,1332373,NaN,7740.0,NaN,7740,NaN,SOUTH,NaN,DOCTOR MARTIN LUTHER KING JR,DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
king_drive = whole_batch[whole_batch['street_name'] == 'DR MARTIN LUTHER KING JR']

In [14]:
king_drive['street_name'] = king_drive['street_name'].str.replace('DR', 'DOCTOR')

/tmp/ipykernel_14812/2491626543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  king_drive['street_name'] = king_drive['street_name'].str.replace('DR', 'DOCTOR')

In [15]:
king_drive

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
26,2000103846,01/01/2020 03.28.07,DISTME,MENTAL HEALTH DISTURBANCE,15P,91XX S DR MARTIN LUTHER KING JR DR,632R,NaN,9100,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
46,2000106684,01/01/2020 08.11.37,MISSPE,MISSING PERSON,6050,50XX S DR MARTIN LUTHER KING JR DR,220 223 222,NaN,5000,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
130,2000113770,01/01/2020 18.02.46,ASSTC,ASSIST CITIZEN,19PZ,87XX S DR MARTIN LUTHER KING JR DR,632,NaN,8700,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
546,2000400840,01/04/2020 01.16.01,DISTMU,DISTURBANCE - MUSIC/NOISE,5AZ,111XX S DR MARTIN LUTHER KING JR DR,531R,NaN,11100,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
791,2000507118,01/05/2020 13.24.19,LOSTP,LOST PERSON,12JZ,83XX S DR MARTIN LUTHER KING JR DR,633,NaN,8300,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170751,2215608439,06/05/2022 13.04.07,DISTME,MENTAL HEALTH DISTURBANCE,19P,68XX S DR MARTIN LUTHER KING JR DR,371 322,A70,6800,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
170796,2215612435,06/05/2022 17.26.58,GENER,GENERIC (CHANGE PRIORITY),19PZ,94XX S DR MARTIN LUTHER KING JR DR,630,NaN,9400,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
170850,2215617043,06/05/2022 22.07.25,THREAS,THREATENING SUICIDE,15P,30XX S DR MARTIN LUTHER KING JR DR,123,NaN,3000,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
170887,2215701297,06/06/2022 02.14.03,DD,DOMESTIC DISTURBANCE,19P,62XX S DR MARTIN LUTHER KING JR DR,313,NaN,6200,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
170941,2215706464,06/06/2022 12.05.54,THREAS,THREATENING SUICIDE,5086Z,53XX S DR MARTIN LUTHER KING JR DR,231 X231 234 214,T51 A36,5300,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH

In [16]:
def geoCodeChunk(numerical,direction,street_name,database_df):
    
    complete_conditional = database_df[(database_df['St_Name'] == street_name) 
                                & (database_df['St_PreDir'] == direction)
                                & (database_df['Add_Number'] < numerical + 100)
                                & (database_df['Add_Number'] >= numerical)
                                ]
    
    '''
     Improve selection criteria from the result set
    '''
    
    
    list_zipcodes = list(set(complete_conditional['Post_Code']))
    list_lat = list(set(complete_conditional['Lat']))
    list_long = list(set(complete_conditional['Long']))
    
    
    return [list_zipcodes, list_lat,list_long]

In [17]:
def extractElement1(columnList):
    try:
        return columnList[0][0]
    except:
        return None

In [18]:
def extractElement2(columnList):
    try:
        return columnList[1][0]
    except:
        return None

In [19]:
def extractElement3(columnList):
    try:
        return columnList[2][0]
    except:
        return None

In [20]:
king_complete = None

In [ ]:
#t = chunkDf[0].apply(lambda x: geoCodeChunk(x["numerical"],x["St_PreDir"],x["street_name"],database),axis=1)
#t

In [21]:
columns = ['CMPADDABRV', 'Lat', 'Long', 'PLACENAME', 'Post_Code', 'OBJECTID', 'Add_Number','St_PreDir', 'St_Name']

In [22]:
database = address_points[columns]
database

,CMPADDABRV,Lat,Long,PLACENAME,Post_Code,OBJECTID,Add_Number,St_PreDir,St_Name
0,1763 W WELLINGTON AVE,41.935796,-87.673357,Chicago,60657,1,1763.0,WEST,WELLINGTON
1,1622 W CULLERTON ST,41.855258,-87.667139,Chicago,60608,2,1622.0,WEST,CULLERTON
2,917 W ARMITAGE AVE,41.917926,-87.651651,Chicago,60614,3,917.0,WEST,ARMITAGE
3,20018 MOHAWK TRL,41.525564,-87.695313,Olympia Fields,60461,4,20018.0,NaN,MOHAWK
4,20024 MOHAWK TRL,41.525317,-87.695269,Olympia Fields,60461,5,20024.0,NaN,MOHAWK
...,...,...,...,...,...,...,...,...,...
1347087,222 MERCHANDISE MART PLZ,NaN,NaN,CHICAGO,60654,1465915,222.0,NaN,MERCHANDISE MART
1347088,1410 S MUSEUM CAMPUS DR,NaN,NaN,CHICAGO,60605,1465916,1410.0,SOUTH,MUSEUM CAMPUS
1347089,6660 W 66TH ST,NaN,NaN,BEDFORD PARK,60638,1465917,NaN,WEST,66TH
1347090,9590 W 55TH ST,NaN,NaN,COUNTRYSIDE,60525,1465918,9590.0,WEST,55TH
1347091,15680 CANAL BANK ROAD,NaN,NaN,LEMONT,60439,1465919,15680.0,NaN,CANAL BANK

In [24]:
for i in range(1):
    exec(f'df_results = king_drive.apply(lambda x: geoCodeChunk(x["numerical"],x["St_PreDir"],x["street_name"],database),axis=1)')
    df = df_results.to_frame(name='t')
    codes = df['t'].apply(extractElement1)
    df['zipcodes'] = codes
    
    lats = df['t'].apply(extractElement2)
    df['lats'] = lats
    
    longs = df['t'].apply(extractElement3)
    df['longs'] = longs
    
    df = df.drop('t', axis=1)
    

        #df_final = pd.DataFrame.from_records(df_results, columns=['zipcodes','lats','longs'])
    df_complete = df
        #df_complete['zipcode'] = df_complete['zipcodes'].apply(extractElement)
        #df_complete['lat'] = df_complete['lats'].apply(extractElement)
        #df_complete['long'] = df_complete['longs'].apply(extractElement)
    #oemc_output = pd.concat([oemc_output,df_complete])

    print('Done')

Done

In [25]:
df_complete

       zipcodes       lats      longs
26        60619  41.728788 -87.614579
46        60615  41.803356 -87.615824
130       60619  41.735938 -87.614812
546       60628  41.691944 -87.613048
791       60619  41.743639 -87.614254
...         ...        ...        ...
170751    60637  41.769564 -87.615192
170796    60619  41.723172 -87.614450
170850    60616  41.839623 -87.618530
170887    60637  41.781110 -87.615388
170941    60615  41.797587 -87.616393

[1192 rows x 3 columns]

In [26]:
king_drive['zipcodes'] = df_complete['zipcodes']

/tmp/ipykernel_14812/229946660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  king_drive['zipcodes'] = df_complete['zipcodes']

In [27]:
king_drive['lats'] = df_complete['lats']

/tmp/ipykernel_14812/1746923413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  king_drive['lats'] = df_complete['lats']

In [28]:
king_drive['longs'] = df_complete['longs']

/tmp/ipykernel_14812/2283038025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  king_drive['longs'] = df_complete['longs']

In [29]:
king_drive.head()

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
26,2000103846,01/01/2020 03.28.07,DISTME,MENTAL HEALTH DISTURBANCE,15P,91XX S DR MARTIN LUTHER KING JR DR,632R,NaN,9100,S,DOCTOR MARTIN LUTHER KING JR,DR,60619,41.728788,-87.614579,SOUTH
46,2000106684,01/01/2020 08.11.37,MISSPE,MISSING PERSON,6050,50XX S DR MARTIN LUTHER KING JR DR,220 223 222,NaN,5000,S,DOCTOR MARTIN LUTHER KING JR,DR,60615,41.803356,-87.615824,SOUTH
130,2000113770,01/01/2020 18.02.46,ASSTC,ASSIST CITIZEN,19PZ,87XX S DR MARTIN LUTHER KING JR DR,632,NaN,8700,S,DOCTOR MARTIN LUTHER KING JR,DR,60619,41.735938,-87.614812,SOUTH
546,2000400840,01/04/2020 01.16.01,DISTMU,DISTURBANCE - MUSIC/NOISE,5AZ,111XX S DR MARTIN LUTHER KING JR DR,531R,NaN,11100,S,DOCTOR MARTIN LUTHER KING JR,DR,60628,41.691944,-87.613048,SOUTH
791,2000507118,01/05/2020 13.24.19,LOSTP,LOST PERSON,12JZ,83XX S DR MARTIN LUTHER KING JR DR,633,NaN,8300,S,DOCTOR MARTIN LUTHER KING JR,DR,60619,41.743639,-87.614254,SOUTH

In [30]:
whole_batch.shape

(171247, 16)

In [33]:
whole_batch[whole_batch['street_name'] == 'DR MARTIN LUTHER KING JR'].shape

(1192, 16)

In [34]:
batch_clean = whole_batch[whole_batch['street_name'] != 'DR MARTIN LUTHER KING JR']

In [35]:
batch_clean.shape

(170055, 16)

In [36]:
batch_clean = pd.concat([batch_clean,king_drive])

In [37]:
batch_clean.shape

(171247, 16)

In [ ]:
pd.concat([s1, s2])

In [ ]:
.str.replace('DR', 'DOCTOR')

In [ ]:
df['range'] = df['range'].str.replace(',','-')

In [ ]:
df[df["A"].str.contains("Hello|Britain")]

In [38]:
batch_clean[batch_clean['zipcodes'].isnull()]

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
16,2000102204,01/01/2020 01.59.07,THREAS,THREATENING SUICIDE,19P,5XX N CLARK ST /1XX W GRAND AV,1860,NaN,500,N,CLARK ST /1XX W GRAND,AV,NaN,NaN,NaN,NORTH
28,2000104170,01/01/2020 03.47.33,THREAS,THREATENING SUICIDE,19B,7XX E 87TH ST /87XX S COTTAGE GROVE AV,631R,NaN,700,E,87TH ST /87XX S COTTAGE GROVE,AV,NaN,NaN,NaN,EAST
37,2000105293,01/01/2020 05.19.12,BATIP,BATTERY IP,19IZ,4XX E 63RD ST /62XX S VERNON AV,320R 312R 313R,NaN,400,E,63RD ST /62XX S VERNON,AV,NaN,NaN,NaN,EAST
40,2000105688,01/01/2020 06.04.23,EMS,EMS,19B,75XX N PAULINA ST,2410 2431 2423,NaN,7500,N,PAULINA,ST,NaN,NaN,NaN,NORTH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171238,2215817099,06/07/2022 22.30.09,SHOTSF,SHOTS FIRED,19PZ,23XX W 79TH ST / 78XX S WESTERN AV,863C,NaN,2300,W,79TH ST / 78XX S WESTERN,AV,NaN,NaN,NaN,WEST
10567,2006108521,03/01/2020 13.28.50,THREAS,THREATENING SUICIDE,15I,23XX S DR MARTIN LUTHER KING JR DR,4182J 4182 133,NaN,2300,S,DOCTOR MARTIN LUTHER KING JR,DR,None,NaN,NaN,SOUTH
64008,2033601899,12/01/2020 05.55.40,DISTME,MENTAL HEALTH DISTURBANCE,19F,24XX S DR MARTIN LUTHER KING JR DR,132,NaN,2400,S,DOCTOR MARTIN LUTHER KING JR,DR,None,NaN,NaN,SOUTH
73311,2102108170,01/21/2021 14.13.55,SEXOO,SEX OFFENSE OTHER,19BZ,67XX S DR MARTIN LUTHER KING JR DR,301 322,NaN,6700,S,DOCTOR MARTIN LUTHER KING JR,DR,None,NaN,NaN,SOUTH
170679,2215601430,06/05/2022 02.01.28,DISTME,MENTAL HEALTH DISTURBANCE,12B,23XX S DR MARTIN LUTHER KING JR DR,132,NaN,2300,S,DOCTOR MARTIN LUTHER KING JR,DR,None,NaN,NaN,SOUTH

In [39]:
27310/171247

0.1594772463167238

In [7]:
28498/171247

0.16641459412427662

In [42]:
batch_clean[batch_clean['directional'].str.contains('.5',na=False)]

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
237,2000205671,01/02/2020 11.38.52,CHECWB,CHECK WELL BEING,12BZ,42XX .5 S MICHIGAN AV,213,NaN,4200,.5,S MICHIGAN,AV,NaN,NaN,NaN,.5
543,2000400652,01/04/2020 00.57.39,MSDIAL,MISDIAL,FILE,25XX -25XX N CLARK ST,NaN,NaN,2500,-25XX,N CLARK,ST,NaN,NaN,NaN,-25XX
545,2000400681,01/04/2020 01.00.23,NPS,NO POLICE SERVICE,FILE,53XX -53XX W DIVISION ST,NaN,NaN,5300,-53XX,W DIVISION,ST,NaN,NaN,NaN,-53XX
912,2000601591,01/06/2020 02.55.27,S911M,SUSPECTED 911 MISUSE,NaN,15XX -15XX W 75TH ST,NaN,NaN,1500,-15XX,W 75TH,ST,NaN,NaN,NaN,-15XX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169959,2215210286,06/01/2022 14.43.38,DD,DOMESTIC DISTURBANCE,1B,3XX .5 N MENARD AV,1531,NaN,300,.5,N MENARD,AV,NaN,NaN,NaN,.5
170605,2215511898,06/04/2022 17.04.40,DISTME,MENTAL HEALTH DISTURBANCE,19BZ,50XX -50XX W 49TH ST,814,NaN,5000,-50XX,W 49TH,ST,NaN,NaN,NaN,-50XX
170703,2215602955,06/05/2022 04.51.05,CHECWB,CHECK WELL BEING,19PZ,5XX -5XX W OAKDALE AV,1901,NaN,500,-5XX,W OAKDALE,AV,NaN,NaN,NaN,-5XX
171100,2215804251,06/07/2022 10.01.23,BURGRT,BURGLARY REPORT,19AZ,17XX .5 W JUNEWAY TER,2422,NaN,1700,.5,W JUNEWAY,TER,NaN,NaN,NaN,.5
171131,2215807982,06/07/2022 13.53.58,THREAS,THREATENING SUICIDE,5BZ,85XX -85XX S PULASKI RD,831,NaN,8500,-85XX,S PULASKI,RD,NaN,NaN,NaN,-85XX

In [46]:
half_df = address_points[address_points['St_Name'].str.contains('.5',na=False)]

In [47]:
columns = ['CMPADDABRV', 'Lat', 'Long', 'PLACENAME', 'Post_Code', 'OBJECTID', 'Add_Number','St_PreDir', 'St_Name']

In [48]:
half_df[columns]

,CMPADDABRV,Lat,Long,PLACENAME,Post_Code,OBJECTID,Add_Number,St_PreDir,St_Name
94,7331 175TH ST,41.572957,-87.796873,Tinley Park,60477,95,7331.0,NaN,175TH
121,8607 W 95TH ST,41.717906,-87.833125,Hickory Hills,60457,122,8607.0,WEST,95TH
124,8603 W 95TH ST,41.717990,-87.833128,Hickory Hills,60457,125,8603.0,WEST,95TH
127,8649 W 95TH ST,41.717201,-87.835364,Hickory Hills,60457,128,8649.0,WEST,95TH
138,8651 W 95TH ST,41.717201,-87.835723,Hickory Hills,60457,139,8651.0,WEST,95TH
...,...,...,...,...,...,...,...,...,...
1347079,2908 185TH CT,NaN,NaN,LANSING,60438,1465907,2908.0,NaN,185TH
1347080,2920 185TH CT,NaN,NaN,LANSING,60438,1465908,2920.0,NaN,185TH
1347081,2934 185TH CT,NaN,NaN,LANSING,60438,1465909,2934.0,NaN,185TH
1347082,2922 185TH CT,NaN,NaN,LANSING,60438,1465910,2922.0,NaN,185TH
1347090,9590 W 55TH ST,NaN,NaN,COUNTRYSIDE,60525,1465918,9590.0,WEST,55TH

In [58]:
batch_clean[batch_clean['zipcodes'].isnull()]

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
16,2000102204,01/01/2020 01.59.07,THREAS,THREATENING SUICIDE,19P,5XX N CLARK ST /1XX W GRAND AV,1860,NaN,500,N,CLARK ST /1XX W GRAND,AV,NaN,NaN,NaN,NORTH
28,2000104170,01/01/2020 03.47.33,THREAS,THREATENING SUICIDE,19B,7XX E 87TH ST /87XX S COTTAGE GROVE AV,631R,NaN,700,E,87TH ST /87XX S COTTAGE GROVE,AV,NaN,NaN,NaN,EAST
37,2000105293,01/01/2020 05.19.12,BATIP,BATTERY IP,19IZ,4XX E 63RD ST /62XX S VERNON AV,320R 312R 313R,NaN,400,E,63RD ST /62XX S VERNON,AV,NaN,NaN,NaN,EAST
40,2000105688,01/01/2020 06.04.23,EMS,EMS,19B,75XX N PAULINA ST,2410 2431 2423,NaN,7500,N,PAULINA,ST,NaN,NaN,NaN,NORTH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171238,2215817099,06/07/2022 22.30.09,SHOTSF,SHOTS FIRED,19PZ,23XX W 79TH ST / 78XX S WESTERN AV,863C,NaN,2300,W,79TH ST / 78XX S WESTERN,AV,NaN,NaN,NaN,WEST
10567,2006108521,03/01/2020 13.28.50,THREAS,THREATENING SUICIDE,15I,23XX S DR MARTIN LUTHER KING JR DR,4182J 4182 133,NaN,2300,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
64008,2033601899,12/01/2020 05.55.40,DISTME,MENTAL HEALTH DISTURBANCE,19F,24XX S DR MARTIN LUTHER KING JR DR,132,NaN,2400,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
73311,2102108170,01/21/2021 14.13.55,SEXOO,SEX OFFENSE OTHER,19BZ,67XX S DR MARTIN LUTHER KING JR DR,301 322,NaN,6700,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
170679,2215601430,06/05/2022 02.01.28,DISTME,MENTAL HEALTH DISTURBANCE,12B,23XX S DR MARTIN LUTHER KING JR DR,132,NaN,2300,S,DOCTOR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH

In [57]:
batch_clean['zipcodes'].value_counts()

60619.0    8675
60620.0    6663
60649.0    6248
60628.0    6157
60617.0    6154
60626.0    4699
60644.0    4610
60640.0    4245
60629.0    4197
60636.0    4079
60637.0    3959
60651.0    3947
60624.0    3929
60623.0    3509
60621.0    3471
60609.0    3208
60608.0    3038
60639.0    2784
60643.0    2783
60647.0    2770
60612.0    2767
60653.0    2705
60625.0    2664
60618.0    2655
60615.0    2468
60641.0    2398
60610.0    2340
60657.0    2292
60660.0    2269
60632.0    2177
60616.0    2095
60614.0    1919
60607.0    1913
60611.0    1893
60634.0    1837
60622.0    1805
60613.0    1707
60659.0    1664
60605.0    1607
60645.0    1534
60630.0    1467
60638.0    1336
60652.0    1319
60601.0    1086
60654.0     806
60642.0     678
60656.0     564
60707.0     555
60827.0     540
60655.0     507
60631.0     505
60661.0     480
60602.0     475
60646.0     472
60604.0     366
60633.0     348
60606.0     316
60603.0     283
Name: zipcodes, dtype: int64

In [8]:
whole_batch['zipcodes'].value_counts()

60619.0    8494
60620.0    6663
60649.0    6248
60617.0    6154
60628.0    6016
60626.0    4699
60644.0    4610
60640.0    4245
60629.0    4197
60636.0    4079
60651.0    3947
60624.0    3929
60623.0    3509
60621.0    3471
60637.0    3434
60609.0    3208
60608.0    3038
60639.0    2784
60643.0    2783
60647.0    2770
60612.0    2767
60625.0    2664
60618.0    2655
60653.0    2622
60641.0    2398
60615.0    2366
60610.0    2340
60657.0    2292
60660.0    2269
60632.0    2177
60616.0    1948
60614.0    1919
60607.0    1913
60611.0    1893
60634.0    1837
60622.0    1805
60613.0    1707
60659.0    1664
60605.0    1607
60645.0    1534
60630.0    1467
60638.0    1336
60652.0    1319
60601.0    1086
60654.0     806
60642.0     678
60656.0     564
60707.0     555
60827.0     531
60655.0     507
60631.0     505
60661.0     480
60602.0     475
60646.0     472
60604.0     366
60633.0     348
60606.0     316
60603.0     283
Name: zipcodes, dtype: int64

1) mental health disturbances, 

(2) threatening suicide, 

(3) domestic disturbance, 

(4) disturbance, 

(5) attempt suicide?

In [87]:
whole_batch['TypeDescription'].value_counts()[0:20]

MENTAL HEALTH DISTURBANCE    57309
CHECK WELL BEING             21444
THREATENING SUICIDE          14913
DOMESTIC DISTURBANCE         12143
DISTURBANCE                  10463
EMS                           6209
ASSAULT IP                    3922
PERSON WITH A KNIFE           3100
ATTEMPT SUICIDE               2779
DOMESTIC BATTERY              2744
DISTURBANCE - MUSIC/NOISE     2399
CRIMINAL TRESPASS IP          2314
SUSPICIOUS PERSON             2283
BATTERY IP                    2188
MISSING PERSON                2033
NO POLICE SERVICE             2012
PERSON WITH A GUN             1883
SEX OFFENSE OTHER             1192
ASSAULT JO                    1057
BATTERY JO                    1021
Name: TypeDescription, dtype: int64

In [49]:
mental_disturbance = batch_clean[batch_clean['TypeDescription'] == 'MENTAL HEALTH DISTURBANCE']
mental_disturbance.head()

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
0,2000100015,01/01/2020 00.00.52,DISTME,MENTAL HEALTH DISTURBANCE,19B,76XX S HALSTED ST,621R,NaN,7600,S,HALSTED,ST,60620.0,41.755904,-87.643854,SOUTH
3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
8,2000100999,01/01/2020 00.52.12,DISTME,MENTAL HEALTH DISTURBANCE,5079Z,50XX S MICHIGAN AV,224R,NaN,5000,S,MICHIGAN,AV,60615.0,41.802480,-87.622291,SOUTH
12,2000101523,01/01/2020 01.20.34,DISTME,MENTAL HEALTH DISTURBANCE,7I,51XX N MILWAUKEE AV,1623R,NaN,5100,N,MILWAUKEE,AV,60630.0,41.973731,-87.765940,NORTH
15,2000101661,01/01/2020 01.28.59,DISTME,MENTAL HEALTH DISTURBANCE,19P,77XX S SAWYER AV,851R 852R,NaN,7700,S,SAWYER,AV,60652.0,41.753027,-87.703975,SOUTH

In [9]:
mental_disturbance = whole_batch[whole_batch['TypeDescription'] == 'MENTAL HEALTH DISTURBANCE']
mental_disturbance.head()

,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
0,2000100015,01/01/2020 00.00.52,DISTME,MENTAL HEALTH DISTURBANCE,19B,76XX S HALSTED ST,621R,NaN,7600,S,HALSTED,ST,60620.0,41.755904,-87.643854,SOUTH
3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
8,2000100999,01/01/2020 00.52.12,DISTME,MENTAL HEALTH DISTURBANCE,5079Z,50XX S MICHIGAN AV,224R,NaN,5000,S,MICHIGAN,AV,60615.0,41.802480,-87.622291,SOUTH
12,2000101523,01/01/2020 01.20.34,DISTME,MENTAL HEALTH DISTURBANCE,7I,51XX N MILWAUKEE AV,1623R,NaN,5100,N,MILWAUKEE,AV,60630.0,41.973731,-87.765940,NORTH
15,2000101661,01/01/2020 01.28.59,DISTME,MENTAL HEALTH DISTURBANCE,19P,77XX S SAWYER AV,851R 852R,NaN,7700,S,SAWYER,AV,60652.0,41.753027,-87.703975,SOUTH

In [50]:
mental_disturbance['zipcodes'].value_counts()

60620.0    2292
60628.0    2209
60649.0    2032
60617.0    2027
60619.0    2022
60644.0    1831
60636.0    1580
60651.0    1547
60624.0    1507
60637.0    1479
60640.0    1468
60626.0    1443
60629.0    1275
60623.0    1243
60621.0    1224
60609.0    1075
60612.0    1068
60639.0    1020
60643.0    1002
60608.0     994
60647.0     956
60615.0     925
60618.0     911
60653.0     859
60610.0     839
60625.0     838
60641.0     834
60607.0     703
60657.0     671
60632.0     653
60616.0     643
60660.0     630
60634.0     624
60614.0     609
60611.0     606
60622.0     605
60659.0     552
60645.0     543
60613.0     523
60605.0     518
60652.0     512
60630.0     461
60638.0     449
60601.0     330
60642.0     251
60654.0     249
60707.0     228
60827.0     181
60655.0     170
60661.0     157
60646.0     154
60602.0     151
60631.0     147
60656.0     138
60604.0     115
60603.0     100
60606.0      95
60633.0      89
60628        10
Name: zipcodes, dtype: int64

In [51]:
threatening = batch_clean[batch_clean['TypeDescription'] == 'THREATENING SUICIDE']
threatening['zipcodes'].value_counts()

60640.0    452
60619.0    438
60620.0    431
60649.0    399
60626.0    396
60628.0    391
60623.0    363
60608.0    345
60629.0    344
60624.0    340
60617.0    337
60609.0    335
60641.0    324
60637.0    323
60644.0    313
60639.0    311
60618.0    309
60647.0    296
60651.0    283
60636.0    279
60611.0    277
60607.0    275
60657.0    270
60632.0    256
60621.0    248
60622.0    245
60612.0    243
60616.0    236
60625.0    233
60610.0    230
60613.0    220
60660.0    215
60634.0    194
60615.0    190
60614.0    183
60630.0    175
60653.0    171
60605.0    170
60643.0    162
60659.0    146
60638.0    141
60645.0    136
60652.0    112
60601.0    105
60642.0     85
60654.0     85
60631.0     68
60656.0     68
60661.0     65
60633.0     50
60655.0     47
60646.0     46
60827.0     44
60707.0     43
60604.0     39
60602.0     35
60606.0     26
60603.0     21
Name: zipcodes, dtype: int64

In [20]:
domestic_disturbance = whole_batch[whole_batch['TypeDescription'] == 'DOMESTIC DISTURBANCE']
domestic_disturbance['zipcodes'].value_counts()

60620.0    808
60619.0    800
60617.0    738
60649.0    701
60628.0    670
60629.0    476
60651.0    473
60644.0    436
60636.0    412
60624.0    380
60637.0    357
60623.0    336
60643.0    317
60647.0    309
60621.0    303
60609.0    299
60653.0    273
60639.0    226
60626.0    209
60632.0    195
60608.0    188
60612.0    177
60641.0    172
60618.0    158
60634.0    157
60615.0    153
60625.0    129
60652.0    126
60638.0    123
60659.0    122
60640.0    120
60630.0    107
60645.0    106
60616.0     87
60827.0     76
60622.0     71
60660.0     69
60657.0     54
60613.0     51
60610.0     50
60707.0     49
60655.0     47
60656.0     44
60614.0     41
60631.0     31
60633.0     25
60607.0     24
60642.0     21
60611.0     20
60646.0     20
60605.0     19
60601.0     12
60654.0      9
60661.0      7
60606.0      4
60602.0      2
60603.0      2
60604.0      1
Name: zipcodes, dtype: int64

In [91]:
disturbance = whole_batch[whole_batch['TypeDescription'] == 'DISTURBANCE']
disturbance['clean_zipcodes'].value_counts()

60619.0    451
60649.0    401
60640.0    369
60626.0    365
60617.0    316
60628.0    301
60657.0    268
60620.0    252
60636.0    228
60608.0    223
60629.0    203
60621.0    199
60653.0    198
60610.0    198
60643.0    197
60601.0    192
60611.0    171
60618.0    167
60624.0    165
60616.0    164
60612.0    163
60625.0    162
60614.0    156
60609.0    152
60607.0    146
60651.0    142
60637.0    139
60605.0    138
60644.0    133
60615.0    131
60632.0    117
60602.0    116
60659.0    114
60654.0    114
60630.0    113
60641.0    103
60613.0    102
60639.0     93
60660.0     91
60647.0     82
60623.0     82
60642.0     77
60622.0     74
60604.0     66
60603.0     62
60634.0     54
60645.0     42
60652.0     42
60656.0     41
60661.0     35
60638.0     30
60606.0     30
60633.0     16
60827.0     16
60646.0     16
60655.0     14
60631.0     13
60707.0     13
Name: clean_zipcodes, dtype: int64

In [16]:
attempt_suicide = whole_batch[whole_batch['TypeDescription'] == 'ATTEMPT SUICIDE']
attempt_suicide['zipcodes'].value_counts()

60619.0    105
60644.0     90
60620.0     88
60629.0     86
60623.0     84
60647.0     77
60624.0     76
60649.0     73
60618.0     69
60609.0     67
60641.0     67
60632.0     66
60625.0     65
60637.0     64
60628.0     64
60617.0     64
60640.0     62
60639.0     61
60626.0     60
60651.0     56
60621.0     56
60636.0     55
60643.0     52
60608.0     52
60634.0     46
60613.0     45
60622.0     43
60638.0     42
60660.0     42
60611.0     40
60614.0     40
60610.0     39
60630.0     37
60607.0     37
60657.0     37
60659.0     33
60616.0     33
60615.0     33
60645.0     32
60612.0     31
60653.0     29
60652.0     22
60605.0     21
60642.0     17
60646.0     16
60656.0     15
60655.0     14
60601.0     14
60707.0     14
60633.0     12
60827.0     12
60654.0     11
60631.0     10
60604.0      5
60661.0      5
60602.0      4
60606.0      3
60603.0      1
Name: zipcodes, dtype: int64

In [3]:
test_batch = pd.read_csv('geocoded_batches/batch_test.csv')

In [4]:
test_batch.head()

,Unnamed: 0,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,St_PreDir,zipcodes
0,1,2000100451,01/01/2020 00.21.18,DIST,DISTURBANCE,4PZ,103XX S SPAULDING AV,2211R 2213R,NaN,10300,S,SPAULDING,AV,SOUTH,[60655]
1,2,2000100656,01/01/2020 00.33.55,DOMBAT,DOMESTIC BATTERY,5079Z,40XX W SCHOOL ST,X1720 1772R 1722R 1731R 1762B 1733R 1761 1762,NaN,4000,W,SCHOOL,ST,WEST,"[60641, 60618]"
2,3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,.5,[]
3,4,2000100902,01/01/2020 00.47.02,CHECWB,CHECK WELL BEING,550,65XX W IRVING PARK RD,1631R,NaN,6500,W,IRVING PARK,RD,WEST,[60634]
4,5,2000100939,01/01/2020 00.49.17,CHECWB,CHECK WELL BEING,19B,50XX N SHERIDAN RD,2041R 2024R,NaN,5000,N,SHERIDAN,RD,NORTH,[60640]

In [13]:
test_batch[['zipcodes']].iloc[0][0]

'[60655]'

In [14]:
from ast import literal_eval
df = pd.read_csv('oemc_geocoded_final_batch.csv', converters={'zipcodes': literal_eval})

In [15]:
df.head()

,Unnamed: 0,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,St_PreDir,zipcodes
0,1,2000100451,01/01/2020 00.21.18,DIST,DISTURBANCE,4PZ,103XX S SPAULDING AV,2211R 2213R,NaN,10300,S,SPAULDING,AV,SOUTH,[60655]
1,2,2000100656,01/01/2020 00.33.55,DOMBAT,DOMESTIC BATTERY,5079Z,40XX W SCHOOL ST,X1720 1772R 1722R 1731R 1762B 1733R 1761 1762,NaN,4000,W,SCHOOL,ST,WEST,"[60641, 60618]"
2,3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,.5,[]
3,4,2000100902,01/01/2020 00.47.02,CHECWB,CHECK WELL BEING,550,65XX W IRVING PARK RD,1631R,NaN,6500,W,IRVING PARK,RD,WEST,[60634]
4,5,2000100939,01/01/2020 00.49.17,CHECWB,CHECK WELL BEING,19B,50XX N SHERIDAN RD,2041R 2024R,NaN,5000,N,SHERIDAN,RD,NORTH,[60640]

In [17]:
df[['zipcodes']].iloc[0][0][0]

60655

In [4]:
df

,Unnamed: 0,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
0,0,2000100015,01/01/2020 00.00.52,DISTME,MENTAL HEALTH DISTURBANCE,19B,76XX S HALSTED ST,621R,NaN,7600,S,HALSTED,ST,60620.0,41.755904,41.755904,SOUTH
1,1,2000100451,01/01/2020 00.21.18,DIST,DISTURBANCE,4PZ,103XX S SPAULDING AV,2211R 2213R,NaN,10300,S,SPAULDING,AV,60655.0,41.704913,41.704913,SOUTH
2,2,2000100656,01/01/2020 00.33.55,DOMBAT,DOMESTIC BATTERY,5079Z,40XX W SCHOOL ST,X1720 1772R 1722R 1731R 1762B 1733R 1761 1762,NaN,4000,W,SCHOOL,ST,60641.0,41.940710,41.940710,WEST
3,3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
4,4,2000100902,01/01/2020 00.47.02,CHECWB,CHECK WELL BEING,550,65XX W IRVING PARK RD,1631R,NaN,6500,W,IRVING PARK,RD,60634.0,41.953793,41.953793,WEST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171242,171261,2215817626,06/07/2022 23.14.30,EMS,EMS,5085Z,1XX W MAPLE ST,1823 1820 1884 1886E,NaN,100,W,MAPLE,ST,60610.0,41.901870,41.901870,WEST
171243,171262,2215817828,06/07/2022 23.34.41,DISTME,MENTAL HEALTH DISTURBANCE,7I,46XX S LAWLER AV,814,NaN,4600,S,LAWLER,AV,60638.0,41.809135,41.809135,SOUTH
171244,171263,2215817871,06/07/2022 23.39.06,DISTME,MENTAL HEALTH DISTURBANCE,5079Z,130XX S CHAMPLAIN AV,573 506A 512 513 511R 522A 532 522 524R 530 52...,NaN,13000,S,CHAMPLAIN,AV,60827.0,41.657871,41.657871,SOUTH
171245,171264,2215817931,06/07/2022 23.47.19,DISTME,MENTAL HEALTH DISTURBANCE,19I,6XX W HARRISON ST,124 114,A42 A66,600,W,HARRISON,ST,60607.0,41.874865,41.874865,WEST
171246,171265,2215818077,06/07/2022 23.59.30,DISTME,MENTAL HEALTH DISTURBANCE,19LZ,14XX N LINDER AV,2532 2535,T29 A10,1400,N,LINDER,AV,60651.0,41.906413,41.906413,NORTH

In [5]:
df[df['zipcodes'].isnull()]

,Unnamed: 0,EventNumber,EntryDate,EventType,TypeDescription,FinalDisposition,Location,CPDUnitList,CFDUnitList,numerical,directional,street_name,suffix,zipcodes,lats,longs,St_PreDir
3,3,2000100660,01/01/2020 00.34.00,DISTME,MENTAL HEALTH DISTURBANCE,19PZ,31XX .5 N SPAULDING AV,1413R,NaN,3100,.5,N SPAULDING,AV,NaN,NaN,NaN,.5
16,16,2000102204,01/01/2020 01.59.07,THREAS,THREATENING SUICIDE,19P,5XX N CLARK ST /1XX W GRAND AV,1860,NaN,500,N,CLARK ST /1XX W GRAND,AV,NaN,NaN,NaN,NORTH
26,26,2000103846,01/01/2020 03.28.07,DISTME,MENTAL HEALTH DISTURBANCE,15P,91XX S DR MARTIN LUTHER KING JR DR,632R,NaN,9100,S,DR MARTIN LUTHER KING JR,DR,NaN,NaN,NaN,SOUTH
28,28,2000104170,01/01/2020 03.47.33,THREAS,THREATENING SUICIDE,19B,7XX E 87TH ST /87XX S COTTAGE GROVE AV,631R,NaN,700,E,87TH ST /87XX S COTTAGE GROVE,AV,NaN,NaN,NaN,EAST
37,37,2000105293,01/01/2020 05.19.12,BATIP,BATTERY IP,19IZ,4XX E 63RD ST /62XX S VERNON AV,320R 312R 313R,NaN,400,E,63RD ST /62XX S VERNON,AV,NaN,NaN,NaN,EAST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171212,171231,2215814431,06/07/2022 19.58.44,PERGUN,PERSON WITH A GUN,19PZ,23XX W 95TH ST / 94XX S WESTERN AV,4264A 2262A 2262D,NaN,2300,W,95TH ST / 94XX S WESTERN,AV,NaN,NaN,NaN,WEST
171215,171234,2215814941,06/07/2022 20.28.16,DISTME,MENTAL HEALTH DISTURBANCE,19P,54XX N BROADWAY,2023 2011,E59 452 A61,5400,N,NaN,BROADWAY,NaN,NaN,NaN,NORTH
171226,171245,2215816273,06/07/2022 21.38.45,SHOTSF,SHOTS FIRED,19PZ,58XX N BROADWAY / 11XX W ARDMORE AV,2020,NaN,5800,N,BROADWAY / 11XX W ARDMORE,AV,NaN,NaN,NaN,NORTH
171228,171247,2215816336,06/07/2022 21.43.04,SUPPOR,SUPPORT UNIT REQUEST,5079Z,27XX N LAKE SHORE DR,1924 1934,NaN,2700,N,LAKE SHORE,DR,NaN,NaN,NaN,NORTH
171238,171257,2215817099,06/07/2022 22.30.09,SHOTSF,SHOTS FIRED,19PZ,23XX W 79TH ST / 78XX S WESTERN AV,863C,NaN,2300,W,79TH ST / 78XX S WESTERN,AV,NaN,NaN,NaN,WEST

In [ ]:
#https://stackoverflow.com/questions/23111990/pandas-dataframe-stored-list-as-string-how-to-convert-back-to-list