In [1]:
import pandas as pd

In [2]:
geo_database = pd.read_csv('test.csv',header=None)
geo_database.head()

/tmp/ipykernel_116913/2170154904.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  geo_database = pd.read_csv('test.csv',header=None)

                       0      1          2          3                      4
0  1700 W WELLINGTON AVE  60657  41.935796 -87.673357  1763 W WELLINGTON AVE
1    1600 W CULLERTON ST  60608  41.855258 -87.667139    1622 W CULLERTON ST
2     900 W ARMITAGE AVE  60614  41.917926 -87.651651     917 W ARMITAGE AVE
3       20000 MOHAWK TRL  60461  41.525564 -87.695313       20018 MOHAWK TRL
4       20000 MOHAWK TRL  60461  41.525317 -87.695269       20024 MOHAWK TRL

In [3]:
geo_database.columns = ['cleanAddress','zipCode','Lat','Long','regAddress']

In [4]:
#Cov.columns = ["Sequence", "Start", "End", "Coverage"]
geo_database.head()

            cleanAddress zipCode        Lat       Long             regAddress
0  1700 W WELLINGTON AVE   60657  41.935796 -87.673357  1763 W WELLINGTON AVE
1    1600 W CULLERTON ST   60608  41.855258 -87.667139    1622 W CULLERTON ST
2     900 W ARMITAGE AVE   60614  41.917926 -87.651651     917 W ARMITAGE AVE
3       20000 MOHAWK TRL   60461  41.525564 -87.695313       20018 MOHAWK TRL
4       20000 MOHAWK TRL   60461  41.525317 -87.695269       20024 MOHAWK TRL

In [5]:
geo_clean = geo_database.drop_duplicates(subset=['cleanAddress','zipCode'])
geo_clean.head()

            cleanAddress zipCode        Lat       Long             regAddress
0  1700 W WELLINGTON AVE   60657  41.935796 -87.673357  1763 W WELLINGTON AVE
1    1600 W CULLERTON ST   60608  41.855258 -87.667139    1622 W CULLERTON ST
2     900 W ARMITAGE AVE   60614  41.917926 -87.651651     917 W ARMITAGE AVE
3       20000 MOHAWK TRL   60461  41.525564 -87.695313       20018 MOHAWK TRL
5    3400 CUMBERLAND TRL   60461  41.522591 -87.700392    3412 CUMBERLAND TRL

In [6]:
geo_clean.shape

(126829, 5)

In [7]:
geo_database.shape

(1342668, 5)

In [8]:
geo_clean.to_csv('geocoderDatabase.csv',index=False)